.item1 { grid-area: nav; }
.item2 { grid-area: main; }
.item3 { grid-area: footer; }

nav{
  font-size: 9px;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1px;
  color: #fff;
  text-decoration: none;
  text-align: right
} 
.grid-container{
  background: radial-gradient(circle, rgba(248,106,81,1) 40%, rgba(28,29,40,1) 95%);
  font-family: sans-serif;
  overflow-x:hidden;
  padding: 1%;
  margin: 0;
  background-repeat: no-repeat;
  transition: all 0.2s ease;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  display: grid;
  grid-template-areas: 
  'nav nav nav nav '
  'main main main main'
  'footer footer footer footer';
}
 main{
      animation-duration: 1s;
      animation-name: fadein;
    }
    main p {
      font-weight: bold;
    }
    .grid{
      display: inline-grid;
      grid-template-columns: 1fr 1fr ;
      grid-template-rows: 300px 200px;
      column-gap: 5px;
      
    }
  
  img{
    width: 100%;
    height: 300px;
    border-radius: 5px;
    opacity: 0.8;
    cursor: pointer;
    }
footer{
      width: 100%;
      float: left;
      text-align: center;

}

    @keyframes fadein {
      from {
        opacity: 0%;
      }

      to {
        opacity:100%;
      }
    }

    @media screen and (min-width: 600px) {
      nav h1, nav h2{
        padding: 10px 14px;
        font-size: 17px;
      }
      .column {
  float: left;
  width: 33.3%;
  padding: 10px;
  box-sizing: border-box;
}
    }
    @media screen and (min-width: 1440px) {
      nav h1, nav h2{
        padding: 10px 20px;
        font-size: 30px;
      }
      main p{
        font-size: 25px;
      }
      .post {
        float: left;
        width: 44%;
      }
      .gallery{
        margin:10%;
        transform: translateY(-100px);

}
    }