<div>
  <label for="title">Title</label>
  <input required value="<%= post.title %>" type="text" name="title" id="title">
</div>
<div>
  <label for="description">description</label>
  <textarea required name="description" id="description"><%= post.description %></textarea>
</div>
<div>
  <label for="markdown">markdown</label>
  <textarea required name="markdown" id="markdown"><%= post.markdown %></textarea>
</div>
  <a href="/">Cancel</a>
  <button type="submit">save</button>
